# {{ ansible_managed }}

#################################
# allow-from    If set, only allow these comma separated netmasks to recurse
#
#allow-from=127.0.0.0/8

#################################
# daemon        Operate as a daemon
#
daemon=yes

#################################
# dnssec        DNSSEC mode: off/process-no-validate (default)/process/log-fail/validate
#
# dnssec=process-no-validate
dnssec=off

#################################
# local-address IP addresses to listen on, separated by spaces or commas. Also accepts ports.
#
local-address=127.0.0.1,{{ batman_ipv4 | ipaddr('address') }}

#################################
# local-port    port to listen on
#
local-port=53

#################################
# quiet Suppress logging of questions and answers
#
quiet=on

#################################
# setgid        If set, change group id to this gid for more security
#
setgid=pdns

#################################
# setuid        If set, change user id to this uid for more security
#
setuid=pdns
