$ORIGIN ffrgb			; base for unqualified names
$TTL 1h				; default time-to-live
@				IN	      SOA ns.ffrgb. hostmaster.ffrgb. (
					2018011701; serial
					1d; refresh
					2h; retry
					4w; expire
					1h; minimum time-to-live
				)
				IN	NS	ns.ffrgb.
; Services
1.ntp.services				IN	AAAA	{{ batman_ipv6 | ipaddr('address') }}
2.ntp.services				IN	AAAA	{{ batman_ipv6 | ipaddr('address') }}
fw.services				IN	AAAA	{{ batman_ipv6 | ipaddr('address') }}
director.services			IN	AAAA	{{ batman_ipv6 | ipaddr('address') }}
; Gateways
gw11			IN	AAAA fdef:f10f:1337:cafe::11
gw11			IN	A	10.90.32.11
gw21			IN	AAAA fdef:f20f:1337:cafe::21
gw21			IN	A	10.90.64.21
gw31			IN	AAAA fdef:f30f:1337:cafe::31
gw31			IN	A	10.90.96.31
