# {{ ansible_managed }}
[respondd]
enable           = {{ yanic_respondd | ternary('true','false') }}
collect_interval = "{{ yanic_respondd_collect_interval }}"
interfaces       = ["{{ yanic_respondd_interface }}"]
sites            = []

[webserver]
enable  = {{ yanic_webserver | ternary('true','false') }}
bind    = "{{ yanic_webserver_bind }}"
webroot = "{{ yanic_webserver_webroot }}"

[nodes]
state_path     = "{{ yanic_nodes_state_path }}"
prune_after    = "{{ yanic_nodes_prune_after }}"
save_interval  = "{{ yanic_nodes_save_interval }}"
offline_after  = "{{ yanic_nodes_offline_after }}"

[[nodes.output.meshviewer-ffrgb]]
enable  = {{ yanic_meshviewer_ffrgb_enable | ternary('true','false') }}
path    = "{{ yanic_meshviewer_ffrgb_path }}"

[[nodes.output.meshviewer]]
enable         = {{ yanic_meshviewer_enable | ternary('true','false') }}
version        = {{ yanic_meshviewer_version }}
nodes_path     = "{{ yanic_meshviewer_nodes }}"
graph_path     = "{{ yanic_meshviewer_graph }}"

[database]
delete_after = "{{ yanic_database_delete_after }}"
delete_interval = "{{ yanic_database_delete_interval }}"

{% for db in yanic_influxdb %}
[[database.connection.influxdb]]
enable   = {{ db.enable | ternary('true','false') }}
address  = "{{ db.host }}"
database = "{{ db.database }}"
username = "{{ db.username }}"
password = "{{ db.password }}"
{% endfor %}

[database.connection.influxdb.tags]

{% for db in yanic_graphite %}
[[database.connection.graphite]]
enable   = {{ db.enable | ternary('true','false') }}
address  = "{{ db.address }}"
prefix   = "{{ db.prefix }}"
{% endfor %}
