# {{ ansible_managed }}

interface br-{{ site_code }} {
  AdvSendAdvert on;
  IgnoreIfMissing on;
  AdvManagedFlag off;
  AdvOtherConfigFlag on;
  MaxRtrAdvInterval 200;
  AdvLinkMTU {{ mtu }};
  prefix {{ batman_ipv6 | ipaddr('address') | ipsubnet(64) }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };
  {% if global_ipv6 is defined %}
  prefix {{ global_ipv6 | ipaddr('address') | ipsubnet(64) }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };
  {% endif %}
  RDNSS {{ batman_ipv6 | ipaddr('address')}} {
  };
};
