[Unit]
Description=fastd Exporter

[Service]
Type=simple
User=fastd-exporter
Environment=PATH=/usr/bin:/usr/local/bin
EnvironmentFile=/etc/default/fastd-exporter
ExecStart=/opt/go/bin/fastd-exporter $OPTIONS

[Install]
WantedBy=multi-user.target
